html {
  font-size: 62.5%;
} /* =10px */

@font-face {
  font-family: Ilisarniq;
  src: url("./fonts/Ilisarniq-Regular.otf");
  src: local("Ilisarniq");
}

@font-face {
  font-family: Ilisarniq;
  src: url("./fonts/Ilisarniq-Bold.otf");
  src: local("Ilisarniq");
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: Ilisarniq;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
